html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


  video {
    object-fit: cover;
    pointer-events: none;
  }
  
  .gray-video {
    filter: grayscale(100%);
  }
  
  .color-video {
    filter: grayscale(0%);
  }
