html, body {
  margin: 0;
  padding: 0;
  cursor: none;
}

.custom-cursor{
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%; /* Делает круг */
  position: fixed;
  pointer-events: none; /* Курсор не мешает кликам */
  transform: translate(-50%, -50%); /* Центрирует круг по мыши */
  transition: transform 0.1s ease; /* Плавность, по желанию */
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.1);
  mix-blend-mode: overlay;
}

canvas {
  display: block;
}


  video {
    object-fit: cover;
    pointer-events: none;
  }
  
  .gray-video {
    filter: grayscale(100%);
  }
  
  .color-video {
    filter: grayscale(0%);
  }

.h2-in-modal{
  margin: 0 0 20px 0; 
  color: #333; 
  font: 'Arial_Narrow'; 
  font-family: Arial_Narrow, sans-serif;
}

.p-in-modal{
  margin: 0; 
  line-height: 1.6; 
  color: #555; 
  font-family: Arial_Narrow, sans-serif; 
  font-size: 16px;
}